<?php
{% if namespace %}
namespace {{namespace}};
{% endif %}
use Kumatch\PropertyLauncher as PropertyLauncher{{id}};

/**
{% for name, serviceClass in services %}
 * @property {{serviceClass}} {{name}}
{% endfor %}
 */
class {{class}} extends PropertyLauncher{{id}}
{
    public function __construct()
    {
        $this->container = unserialize(<<<CONTAINER_{{id}}
{{container|raw}}
CONTAINER_{{id}}
        );
    }
}